* {
  font-family: 'Dosis', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.main {
  // background-color: FOAD4E;
  background-color: aqua;
  flex: 3;
  margin-left: 30px;
}

.stickers-sidebar {
    // padding-right: 10px;
    background-color: yellow;
    flex: 1;
    margin-right: 30px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
}

.navBarItem {
    padding: 10px;
}


h1,
h2 {
    font-family: 'Teko', sans-serif;
}

h2 {
    font-size: 14px;
    margin-top: 5px;
}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto 5px auto;
    // margin-bottom: 5px;
}

.quotes {
    // width: 40%;
    text-align: right;
    font-size: 11px;
    font-style: italic;
}

.quote {
  font-size: 11px;
}

.calendar {
    font-size: 10px;
    color: grey;
}

.col-sm-2 control-label {
    text-align: left;
    width: 100px;
}

.goal-box {
    display: flex;
    border: 1px solid grey;
    margin: 2px;
    // width: 75%;
    margin-left: 0;
    flex-direction: row;
    padding: 10px;
}

.goal-text {
    // width: 50%;
    vertical-align: bottom;
}

.goals-container {
    display: flex;
    // width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}

.sticker {
    background-color: white;
    border: 1px solid black;
    margin-left: 0px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-top: 5px;
}

.sticker-container {
    display: block;
}

ul {
    list-style: none;
}

button {
    // margin-right: 5px;
    margin-left: 5px;
}

.done {
    color: green;
}

.delete {
    color: darkred;
}

header {
    margin-top: 15px;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.feedback {
    display: none;
}
// .tagline {
//     width: 350px;
//     margin-right: 0;
//     font-size: 11px;
//     font-style: italic;
// }

.strikeThru {
  text-decoration: line-through;
}
