* {
  font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0eded;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-width: 1200px;
}

.splash-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    // width: 100%;
    justify-content: center;

}

.main {
  background-color: #f0eded;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 50px;

}

.goals {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.stickers-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    // padding: 50px 0 0 10px;
    max-width: 350px;
    // min-height: 350px;
}

.sticker-container {
    display: flex;
    flex-direction: column;
    // position: absolute;
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main {
        margin-left: 0;
        margin-bottom: 60px;
    }
}

header {
    margin-top: 15px;
}

footer {
    // text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
}

h2, h3, label {
    font-family: 'Pragati Narrow', sans-serif;
}

h3 {
    font-size: 1.2em;
    margin: 15px;
}

.title {
    font-size: 5em;
}

.subtitle {
    font-size: 2.5em;
    margin: 0 auto;
}

.main-title {
    font-size: 1.7em;
    margin: 0;
}

.main-subtitle {
    font-size: 1.1em;
    margin: 0 5px;
}

label {
    font-size: 1.2em;
}

input {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0 5px 0;
    text-align: left;
    min-width: 300px;
    font-size: .9em;
}

// .goals-container {
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     margin: 0 25px;
// }

.goal-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    text-align: center;
}

.goal-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: 1px solid grey;
    margin: 0;
    padding: 10px;
}

.goal-text {
    // width: 50%;
    vertical-align: bottom;
}

.calendar {
    font-size: .7em;
    color: grey;
    text-align: left;
    margin: 7px;
}

.sticker {
    border: 1px solid darkgrey;
    margin: 0 7px;
}

img {
    height: 150px;
}

p {
    font-size: .9em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

hr {
    background-color: #033658;
    border: 0;
    clear: both;
    display: block;
    height: 1px;
    width: 90%;
}

button {
    border-radius: 5px;
    border: 0;
    color: white;
}

.buttons-group {
    display: flex;
    justify-content: flex-end;
}

.done {
    background-color: green;
    margin-left: 1em;
    font-size: .6em;
}

.delete {
    background-color: red;
    margin-left: 1em;
    font-size: .6em;
}

.enter {
    margin: 25px 0 25px 0;
    height: 50px;
    width: 150px;
    align-self: center;
    font-size: 1.2em;
    background-color: #033658;
}

.enter a {
    color: white;
}

.quotes {
    font-size: .9em
}

.tagline {
    margin: 7px 0 7px;
}

.source {
    font-size: .7em;
    margin: 0 0 50px;
}

.strikeThru {
  text-decoration: line-through;
}
